[Unit]
Description=Reboot Button Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/reboot-button/reboot_button
ExecStart=/opt/reboot-button/.venv/bin/python /opt/reboot-button/reboot_button/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
